@page "/"
@using UI.Services

@inject NavigationManager NavigationManager;

<PageTitle>Home</PageTitle>
<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        <p>Auth</p>
    </Authorized>
    <NotAuthorized>
        @RedirectToLogin()
    </NotAuthorized>
</AuthorizeView>


@code
{
    private MarkupString RedirectToLogin()
    {
        NavigationManager.NavigateTo("login", forceLoad: true);

        return (MarkupString)"<p>Redirecting to login...</p>";
    }
}
