@page "/"
@attribute [Authorize]
@using UI.Services

@inject CustomAuthStateProvider AuthStateProvider;

<PageTitle>Home</PageTitle>
<h1>Hello, world!</h1>

<AuthorizeView>
    <p>Auth</p>
</AuthorizeView>

Welcome to your new app.
<Button @onclick="HandlerValidSumbit">
    Log out
</Button>

@code
{
    private async void HandlerValidSumbit()
    {
        try
        {
            await AuthStateProvider.Logout();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}
