@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<Layout Sider>
    <LayoutSider>
        <LayoutContent >
            <NavMenu />
        </LayoutContent>
    </LayoutSider>
    <Layout>
        <LayoutHeader Fixed>
            <TopBar/>
        </LayoutHeader>
        <LayoutContent>
            <AuthorizeView>
                <Authorized>
                    @Body
                </Authorized>
                <NotAuthorized>
                    @RedirectToLogin()
                </NotAuthorized>
            </AuthorizeView>
        </LayoutContent>
    </Layout>
</Layout>

@code {
    private MarkupString RedirectToLogin()
    {
        NavigationManager.NavigateTo("login", forceLoad: true);

        return (MarkupString)"<p>Redirecting to login...</p>";
    }
}