@using Domain.Dtos.Project
@using UI.Components.Modals

<Card Class="h-100"
      Style="background-image: url('images/defatult_background.jpg');
          color: white; min-height: 180px">
    <CardBody @onclick="() => NavigateToKanban(Project.Id)" Class="h-1">
        <CardTitle Size="4">
            @Project.Title
        </CardTitle>
    </CardBody>
    <Button
        Size="Size.Small"
        Style="position: absolute; bottom: 5px; right: 5px;"
        Clicked="ShowDeleteConfirmation">

        <Icon Name="IconName.Delete" TextColor="TextColor.White50"></Icon>
    </Button>

    <DeleteConfirmationModal @ref="_confirmationModal"
                             Title="Delete Project"
                             Message="Are you sure you want to delete this project?"
                             OnConfirm="HandleDeleteConfirmation"/>

</Card>

@code {
    [Inject] NavigationManager NavigationManager { get; set; }
    [Parameter, EditorRequired] public ProjectDto Project { get; set; }
    [Parameter] public EventCallback<Guid> OnDelete { get; set; }

    private DeleteConfirmationModal _confirmationModal;

    private async Task ShowDeleteConfirmation()
    {
        await _confirmationModal.Show();
    }

    private async Task HandleDeleteConfirmation(bool confirmed)
    {
        if (confirmed && OnDelete.HasDelegate)
        {
            await OnDelete.InvokeAsync(Project.Id);
        }
    }

    private void NavigateToKanban(Guid projectId)
    {
        NavigationManager.NavigateTo($"/Kanban/{projectId}");
    }

}